@font-face {
  font-family: "Stick No Bills";
  src: url("/fonts/StickNoBills-Light.woff2") format("woff2"),
    url("StickNoBills-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stick No Bills";
  src: url("/fonts/StickNoBills-ExtraBold.woff2") format("woff2"),
    url("StickNoBills-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stick No Bills";
  src: url("/fonts/StickNoBills-Bold.woff2") format("woff2"),
    url("StickNoBills-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stick No Bills";
  src: url("/fonts/StickNoBills-ExtraLight.woff2") format("woff2"),
    url("StickNoBills-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stick No Bills";
  src: url("/fonts/StickNoBills-Regular.woff2") format("woff2"),
    url("StickNoBills-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stick No Bills";
  src: url("/fonts/StickNoBills-SemiBold.woff2") format("woff2"),
    url("StickNoBills-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stick No Bills";
  src: url("/fonts/StickNoBills-Medium.woff2") format("woff2"),
    url("StickNoBills-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Cinzel Decorative";
  src: url("/fonts/CinzelDecorative-Regular.woff2") format("woff2"),
    url("CinzelDecorative-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel Decorative";
  src: url("/fonts/CinzelDecorative-Bold.woff2") format("woff2"),
    url("CinzelDecorative-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel Decorative";
  src: url("/fonts/CinzelDecorative-Black.woff2") format("woff2"),
    url("CinzelDecorative-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}




body {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.book {
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.book:hover {
  box-shadow: 1px 1px 15px 8px rgba(179, 179, 179, 0.3);
}
