
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.book {
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.book:hover {
  box-shadow: 1px 1px 15px 8px rgba(179, 179, 179, 0.3);
}
